$layout_width: 1920px;
$header_height: 50px;

$textColor_light: #000;
$textColor_dark: #fff;

$backgroundColor_light: #f7f7f7;
$backgroundColor_dark: #000;
$areaColor_dark: #212121;

$breakpoint_mobile: 768px;

@mixin header_light {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    background: #fff;
}

@mixin header_dark {
    box-shadow: none;
    background: rgba(0,0,0,0.5);
    backdrop-filter: saturate(180%) blur(20px);
}

@mixin blurred-background_light {
    background: rgba(255,255,255,0.9);
    backdrop-filter: saturate(180%) blur(20px);
}

@mixin blurred-background_dark {
    background: rgba(0,0,0,0.5);
    backdrop-filter: saturate(180%) blur(20px);
}

@mixin gradient_sunset {
    background: linear-gradient(to right, #ee0979, #ff6a00); 
}

@mixin gradient_mirage {
    background: linear-gradient(to right, #16222a, #3a6073);
}

@mixin gradient_frost {
    background: linear-gradient(to right, #000428, #004e92);
}