html, body {
    background-color: $backgroundColor_light;
    font-size: 18px;
    font-family: "Quicksand", "Source Sans Pro", Arial, sans-serif;
    margin: 0;

    @media (prefers-color-scheme: dark) {
      background-color: $backgroundColor_dark;
      color: #fff;
  }

  }